name: Build Custom Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Install Azure CLI
      run: |
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

    - name: Set up Packer
      uses: hashicorp/setup-packer@main
      with:
        packer_version: '1.8.7'

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build Prerequisite Layer
      run: |
        packer build \
          -var 'subscription_id=${{ secrets.AZURESUBID }}' \
          -var 'client_id=${{ secrets.AZURECLIENTID }}' \
          -var 'client_secret=${{ secrets.AZURECLIENTSECRET }}' \
          -var 'tenant_id=${{ secrets.AZURETENANTID }}' \
          prerequisite-layer.pkr.hcl

    - name: Build Application Layer
      run: |
        packer build \
          -var 'subscription_id=${{ secrets.AZURESUBID }}' \
          -var 'client_id=${{ secrets.AZURECLIENTID }}' \
          -var 'client_secret=${{ secrets.AZURECLIENTSECRET }}' \
          -var 'tenant_id=${{ secrets.AZURETENANTID }}' \
          application-layer.pkr.hcl
